<h1>Admin &raquo; Categories</h1>

<div class="well">
  <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
</div>

<div class="panel panel-default categories">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
