<h1>About Us</h1>
<p>
  Welcome to Jungle! We are a leading online store providing a wide range of beautiful plants and flower products, as well as all the accessories you need to keep home healthy and natural. </br>
  </br>
  The Jungle app is an e-commerce platform designed to facilitate the online purchase of various plants and flower  products. It offers a user-friendly interface for both customers and administrators to manage their shopping experiences effectively.
</p>
